.button_color button{
    background-color: gold; 
    color: black;         
    padding: 20px 20px;        
    font-size: 25px; 
    font-weight: bold;
    margin: 0px 0px;
    border: none;     
}